<div class="container">
    <div class="row center" style="padding-top:30px;">
      <%= image_tag (image_path("title_01.png")), :class=> "responsive-img"%>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <%= image_tag (image_path("1.png")), :class=> "responsive-img"%>
      </div>
      <div class="col s12 m4">
        <%= image_tag (image_path("2.png")), :class=> "responsive-img" %>  
      </div>
      <div class="col s12 m4">
        <%= image_tag (image_path("3.png")), :class=> "responsive-img" %>
      </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <%= image_tag (image_path("title_02.png")), :class=> "responsive-img" %>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <%= image_tag (image_path("icon.png")), :class=> "responsive-img" %>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <a href="mailto:ghkdgh2365@naver.com" style="font-size:22px;" target="_top">ghkdgh2365@naver.com</a>
        </div>
    </div>
</div>
<p style="margin-top:0px;margin-bottom:0px;font-size:18px;" class="center grey lighten-2">
  &copy;2017 내기에 캔디 All rights reserved.<br/>사업자등록번호:796-76-00111
  <a href="" style="color:grey;margin-right:10px;margin-left:10px;"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
  <a href="" style="color:grey;"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</p>
<div class="fixed-action-btn" style="bottom: 45px;right: 24px;">
  <a class="btn-floating btn-large red pulse" href="/home/new"><i class="material-icons">mode_edit</i></a>
</div>

<style>
      .fixed-action-btn{
        position: fixed;
        padding-top: 15px;
        margin-bottom: 0;
        z-index: 997;
      }
</style>